[submodule "external/SYCON-Bench"]
	path = external/SYCON-Bench
	url = https://github.com/JiseungHong/SYCON-Bench.git
[submodule "external/sycophancy-eval"]
	path = external/sycophancy-eval
	url = https://github.com/meg-tong/sycophancy-eval.git
